.meetingContainerChild{
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid white;
    padding:20px;
    border-radius:10px;
    color:white;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.meetingContainerChild:hover{
    background:#a1423f;
}
.mostImportant{
    background-color: #d9534f;
}
.important{
    background-color: #db6a66;
}
.classic{
    background-color: #db8481;
}
.meetingContainerChild>.dateAndTime{
    display:flex;
}
.meetingContainerChild>.meetingTitle{
    font-weight:bold;
}
/*Meeting desc ko auxa paxi*/

