/*Horizontal menu*/
.inBoxMenu{
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    border-bottom:0.1px solid rgb(224, 224, 224);
    margin-left:20px;
    margin-bottom:0px;
    padding:0px;
    position: relative;
}
.bar{
    border:1px solid rgb(45, 143, 255);
    position: absolute;
    transition: .256s ease-in-out;
    bottom:0;
    left:0;
    width:25%;
}
.inBoxMenu li{
    list-style: none;
    padding:20px 10px 30px 10px;
    text-align: center;
    width:25%;
}
.inBoxMenu .link{
    color:black;
    text-decoration:none;
    
}

.moveSide{
    transform:translateX(25%) !important;
}