.selected{
    color:#6fa7d8 !important;
}
.bottomBarLink{
    cursor:pointer;
}
.taskBar,.meetingBar{
    cursor:pointer;
}
.taskIcon,.meetingIcon{
    margin-left:40%;
}
.slideLeft{
    transition: 1s ease-in-out;
    transform:translateX(-100%);
}
.slideRight{
    transition: 1s ease-in-out;
    transform: translateX(0%);
}
@media only screen and (min-width: 900px){
    .bottomBarNavigation{
        width: 460px;
    }   
}