.loading{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow:column;
}
.errorMessage{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-flow:column;
}
.errorMessage svg{
    opacity:0.5;
}
.errorMessage h5{
    color:rgb(155, 155, 155);
    font-size:15px;
    margin-top:10px;
}