*{
    font-family:arial;
}
.iconContainer{
    width:100%;
}
#menuOne{
    border-bottom:1px solid rgb(196, 196, 196);
}
#menuTwo,#menuThree{
    margin-top:20px;    
}
#menuTwo{
    border-bottom:1px solid rgb(196, 196, 196);
}
#menuThree{
    margin-bottom:20px;
}
.nav-link{
    color:black;
    font-weight: bold;
}
.active{
    color:#d9534f;
    pointer-events: none;
}
