.iContainer{
    padding-top:10px;
    font-size:25px;
    display:flex;
    flex-flow:row-reverse;
    margin-right:20px;
    align-items: center;
}
.text-primary{
    margin-left:10px;
    font-size:50px;
}
.meetingBodyContainer{
    display:flex;
    flex-flow: column;
    align-items: center;
    margin-top:43px;
    position:relative;
}
.meetingBodyContainer>.titleFlex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.meetingBodyContainer>.containerTitle{
    margin-top:30px;
    margin-bottom:30px;
}

