.modelBox{
    position:absolute;
    background:white;
    top:0px;
    right:10px;
    z-index:2;
    width:37%;
    border:1px solid rgb(221, 221, 221);
}
.contentContainer{
    padding:20px;
}
.closeButtonContainer{
    margin-top:0px;
    display:flex;
    justify-content: flex-end;
    padding-right:10px;
}
.modelBox h3{
    text-align:center;
}
.modelBox button{
    margin-top:20px;
    margin-bottom:10px;
}
.unClickable{
    pointer-events:none;
}
.modelBox h5{
    color:white;
}
.hide{
    transform: translateY(-250px);
    transition: 1s ease-in-out;
}
.show{
    transform:translateY(0px);
    transition: 1s ease-in-out;
}