.meetingContainer{
    border-top:1px solid rgb(216, 216, 216);
    overflow-y:scroll;
    padding:10px;
}
.invMeetingContainer{
    padding:20px;
    padding-top:5px !important;
    display:flex;
    flex-flow:column;
    justify-content: center;
    margin-top:20px;
    border-radius:10px;
}
.invMeetingContainer h5{
    font-weight:bold;
    margin-bottom:30px;
}
.invMeetingContainer p{
    margin-top:20px;
    margin-bottom:10px;
}
.invMeetingContainer button{
    margin-bottom:10px;
    width:50%;
    border-radius:10px;
}
.dangerContainer{
    background:#d9534f;
    border:3px solid #a1423f;
}
.warningContainer{
    background:#f0ad4e;
    border:3px solid #c28d43;
}
.primaryContainer{
    background:#0275d8;
    border:3px solid  #094d88;
}
.darkContainer{
    background:#292b2c;
}
.dangerText{
    color:#6e2d2b;
}
.primaryText{
    color:#073761;
}
.warningText{
    color:#966d34;
}
.btn{
    color:white;
    font-weight:bold;
}
.btn:hover{
    color:white !important;
}
.darkText{
    color:#292b2c;
}
.btnDangerDark{
    background:#a1423f;
}
.btnPrimaryDark{
    background:#094d88;
}
.btnWarningDark{
    background:#966d34;
}