.headerTop h2{
    font-size:30px;
    margin:20px 0px 20px 20px;
    transition: .5s ease-in-out !important;
}
.restContainer{
    padding-top:30px;
    padding-right:10px;
    overflow-y: auto;
}

/* Media queries*/
@media only screen and (max-width: 900px){
    .headerTop h2{
        font-size:24px; 
    }
}
@media only screen and (max-width: 767px) {
    .headerTop{
        top:30px;
        z-index:1;
        background:white;
        padding-top:4px;
        padding-left:0px !important
    }
    .restContainer{
        width:100vw;
    }
    .headerTop h2{
        font-size:25px !important;
    }
}
