*{
    font-family: arial;
}

/*Title*/
h2{
    margin:20px 0px 30px 20px;
}


.restContainer{
    padding-top:30px;
    padding-right:10px;
}
@media only screen and (max-width: 765px) {
    h2{
        margin-bottom:20px !important;
    }
    .inBoxMenu{
        z-index: 1 !important;
    }
    .restContainer{
        height:auto !important;
        margin-top:130px;
    }
    .headerTop{
        position:fixed;
        top:30px;
        width:100%;
        z-index:1;
        background:white;
    }
    
}
@media only screen and (min-width:765px){
    .restContainer{
        overflow-y:scroll;
        height:100%;
    }
}
