.headerTop h2{
    margin:20px 0px 20px 20px;
}
.restContainer{
    padding-top:30px;
    padding-right:10px;
    overflow-y: auto;
}


/* Media queries*/
@media only screen and (max-width: 767px) {
    .headerTop{
        position: sticky;
        width:100vw;
        top:30px;
        z-index:1;
        background:white;
        padding-top:4px;
        padding-left:0px !important
    }
    .restContainer{
        width:100vw;
        height:auto !important;
    }
}
@media only screen and (min-width:767px){
    .restContainer{
        height:100%;
    }
}
