.headerTop h2{
    margin:20px 0px 20px 20px;
}
.restContainer{
    padding-top:30px;
    padding-right:10px;
}


/* Media queries*/
@media only screen and (max-width: 767px) {
    .headerTop{
        position: sticky;
        top:30px;
        width:100%;
        z-index:1;
        background:white;
        padding-top:4px;
        padding-left:0px !important
    }
    .restContainer{
        height:auto !important;
    }
}
@media only screen and (min-width:767px){
    .restContainer{
        overflow-y:scroll;
        height:100%;
    }
}
