.container-fluid{
    padding-left: 0px;
}
.posFixed{
    background:rgb(233, 233, 233);
    height:100%;
    position:fixed;
    width:15%;
    left:0;
    overflow-y: scroll;
}
.posFixedSml{
    position:fixed;
    top:0;
    width:100%;
    padding:5px;
    margin-bottom:20px;
}
.flexBox{
    display:flex;
    justify-content: flex-end;
}
@media only screen and (max-width: 991px) {
    .taskListContainer{
        margin-top:30px;
    }
}