body{
    overflow-x: hidden;
    overflow-y:auto;
}
/*scroll bar*/
::-webkit-scrollbar{
    width:.8em;
}
::-webkit-scrollbar-track{
    background:white;
}
::-webkit-scrollbar-thumb{
    background:rgb(219, 219, 219);
}
::-webkit-scrollbar-button{
    display:none;
}
::-webkit-scrollbar-thumb:hover{
    background:rgb(212, 212, 212);
}


.container-fluid{
    padding-left: 0px;
}
.sideMenuContainer{
    background:rgb(233, 233, 233);
    height:100%;
    position:fixed;
    width:15%;
    left:0;
    overflow-y: auto;
}
.smlSideMenuContainer{
    position:fixed;
    top:0;
    width:100%;
    padding:5px;
    margin-bottom:20px;
}
.flexBoxOne{
    display:flex;
    justify-content: flex-end;
}
.bottomBarNavigation{
    display:flex;
    flex-flow:row;
    position:fixed;
    bottom:10px;
    right:0;
    left:0;
    border-radius:50px;
    padding-bottom:5px;
    z-index:2;
    width:350px;
    margin:0 auto;
}
.bottomBarNavigation>.bottomButtonContainer{
    display:flex !important;
    flex-flow:row;
    justify-content: space-around;
    width:100%;
    height:50px;
    color:white;
}

/*Small screen*/
.smlSlide{
    margin-top:40px;
}
/*Media queries*/
@media only screen and (max-width: 767px) {
    *{
        font-size:16px !important
    }
    .taskListContainer{
        margin-top:30px;
    }
}
@media only screen and (max-width: 900px){
    *{
        font-size:13px;
    }
}